body{
    padding: 10px;
    margin: 0;
    background-image: linear-gradient(to right bottom ,rgb(1, 141, 255),rgb(142, 144, 247));
    display: flex;
    justify-content: center;
    align-items: center;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom,rgb(255, 0, 0,.5),rgb(255, 145, 0,.5));
    clip-path: circle(20% at right 70%);
    z-index: -1;
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom,rgb(255, 0, 0,.5),rgb(255, 145, 0,.5));
    clip-path: circle(40%  at 10% 10%);
    z-index: -1;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.card{
    width: 200px;
    background-color: rgb(155, 198, 236,.1);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(5px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow:  0px 48px 100px 0px rgba(17, 12, 46, 0.4);
    border-top: 1.5px solid rgb(175, 226, 255,.5);
    border-left: 1.5px solid rgb(175, 226, 255,.5);
    transition: all .8s;
}

.card__number{
    color: rgb(195, 227, 255,.1);
    font-weight: 600;
    font-size: 100px;
    margin: 0;
    transition: all .8s;
    cursor: none;
}
.btn{
    background-color: rgb(175, 226, 255,.5);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    color: rgb(229, 250, 250);
    transform: translateY(100px);
    transition: all .8s;
}
.card__para{
    margin: 20px;
    color: rgb(229, 250, 250,.9);
}
.card__head__text{
    color: rgb(229, 250, 250,.5);
    font-size: 40px;
    font-weight: 100;
    margin: 5px;
}

.card:hover  .card__number{
    transform: scale(2);
    animation: _opacity ;
    animation-duration: .5s ease-in;
    
}

.card:hover {
    transform: scale(1.2);
    animation: _opacity ;
    animation-duration: .5s ease-in;
    
}

.card:hover  .btn{
    transform: translateY(0px);
    animation: _opacity ;
    animation-duration: .5s ease-in;
    
}

@keyframes _opacity{
    0%{
        opacity: 0;
    }
    100%{
         opacity: 1;
    }
}